@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&family=Raleway:wght@400;700&display=swap');

html{
    font-size: 16px;
}
body{
    background-color: #0f2d2c;
    color: rgb(228, 222, 203);
    font-family: 'Raleway', sans-serif;
}
h1,h2{
    font-family: 'Elsie', cursive;
}
a{
    color: rgb(228, 222, 203);
}
.btn{
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #ec6e4f;
    color: #fff;
    text-transform: uppercase;
}
header{
    margin-top: 50px;
}
.s1{
    background-image: url('../images/bg-s1.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 60px;
    min-height: 85vh;
    h3{
        font-size: 1.4rem;
        font-weight: bold;
        margin-left: -400px;
    }
    h1{
        font-size: 7rem;
        line-height: 0.6;
        font-weight: bold;
    }
    .descript{
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        .number{
            h2{
                font-size: 6.5rem;
                line-height: 0.6;
            }
        }
        div:not(.number){
            width: 80%;
        }
    }
}
.s2{
    height: 100vh;
    min-height: 100vh;
    background-color: rgb(228, 222, 203);
    background-image: url('../images/bg-s2.png');
    background-size: 100% 100%;
    background-position: top bottom;
    background-repeat: no-repeat;
    color: #0f2d2c;
    .container, .row{
        height: 100%;
    }
    h2{
        font-size: 10rem;
        font-weight: 900;
        line-height: 0.8;
        margin: 30px 0;
    }
}
.s3{
    height: 100vh;
    min-height: 100vh;
    background-image: url('../images/bg-s3.png');
    background-size: cover;
    .container, .row{
        height: 100%;
    }
    h3{
        font-size: 2rem;
        font-family: 'Elsie', cursive;
    }
}
@media screen and (max-width:780px) {
    html{
        font-size: 10px;
    }
    h3{
        margin: 0 !important;
        margin-bottom: 10px !important;
    }
}