@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
}

.tags{
    display: flex;
    display: -webkit-box;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-box-pack: center;
}
.tag-container{
    width: 200px;
    height: 300px;
    margin: 20px;
    position: relative;
    perspective: 800px;
    -webkit-perspective: 800px;
}
.tag{
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    transition: transform 1s;
    transition: -webkit-transform 1s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 1s;
}
.tag-container:hover .tag{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.tag-side{
    width: 100%;
    height: 100%;
    position: absolute;
    transform:  translate3d(0, 0, 0);
    backface-visibility: hidden;
    display: flex;
    align-items: stretch;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
}
.tag-side.is-back{
    transform: rotateY(180deg);
    z-index: 2;
    -webkit-transform: rotateY(180deg);
}
.tag-text{
    width: 100%;
    padding: 0 20px;
    color: #222;
    font: 28px 'Sacramento';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -ms-flex-wrap: wrap;
}

.tag-1-top{
    width: 100%;
    margin-top: -35px;
    position: absolute;
    top: 0;
    transform: scale(0.775, 0.5) translate3d(0, 0, 0);
}
.tag-1-top::before{
    content: ' ';
    background-color: #ede5d8;
    padding-bottom: 200px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    display: block;
    transform: rotate(45deg);
}
.tag-1-side::before{
    content: ' ';
    background-color: #fff;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 30px;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, 0, 0);
    border-radius: 50%;
}
.tag-1-side.is-back .tag-1-top::before{
    background-color: #e44f47;
}
.tag-1-text{
    background-color: #ede5d8;
    margin-top: 65px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 30px;
    position: relative;
    z-index: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}
.tag-1-side.is-back .tag-1-text{
    background-color: #e44f47;
    color: #fff;
}

.tag-2-side::before, .tag-2-side::after{
    content: ' ';
    background-color: #b6dfde;
    position: absolute;
    height: 50px;
    top: 0;
    left: 50px;
    right: 50px;
    transform: skew(-45deg) translate3d(0, 0, 0);
    transform-origin: 0 0;

    -webkit-transform: skew(-45deg) translate3d(0, 0, 0);
    -webkit-transform-origin: 0 0;
}
.tag-2-side.is-back::before, .tag-2-side.is-back::after{
    background-color: #47ada0;
}
.tag-2-side::after{
    transform: skew(45deg);
}
.tag-2-text::before{
    content: ' ';
    background-color: #fff;
    position: absolute;
    width: 27px;
    height: 27px;
    border: 6px solid #47ada0;
    border-radius: 50%;
    top: 20px;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, 0, 0);
}
.tag-2-side.is-back .tag-2-text::before{
    border-color: #b6dfde;
}
.tag-2-text{
    background-color: #b6dfde;
    margin-top: 50px;
    padding-bottom: 30px;
}
.tag-2-side.is-back .tag-2-text{
    background: #47ada0;
}

.tag-3-side{
    display: flex;
    margin-top: 20px;
    padding-top: 20px;
}
.tag-3-side::before{
    content: ' ';
    background-color: #e44f47;
    position: absolute;
    top: 0;
    left: 50%;
    width: 150px;
    height: 100%;
    border-radius: 20px;
    transform: translate3d(-50%, 0, 0);
}
.tag-3-side.is-back:before {
    background-color: #b6dfde;
}
.tag-3-side::after{
    content: ' ';
    background-color: #fff;
    position: absolute;
    width: 45px;
    height: 45px;
    border: 15px solid #e44f47;
    border-radius: 50%;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}
.tag-3-side.is-back:after {
    border-color: #b6dfde;
}
.tag-3-text{
    background-color: #e44f47;
    width: 100%;
    border-radius: 20px;
    padding-top: 60px;
    z-index: 1;
    color: #fff;
}
.tag-3-side.is-back .tag-3-text {
    background-color: #b6dfde;
    color: #222;
}

.rule-shape{
    width: 100%;
    color: #fff;
    font-size: 34px;
    display: flex;
    align-items: center;
    align-self: flex-end;
}
.rule-shape::before, .rule-shape::after{
    content: ' ';
    background-color: #fff;
    display: block;
    height: 1px;
    margin-bottom: 8px;
    flex-grow: 2;
}
.rule-shape::before{
    margin-right: 6.25px;
}
.rule-shape:after {
    margin-left: 6.25px;
}
.rule-red{
    color: #e44f47;
}
.rule-red:before, .rule-red:after {
    background-color: #e44f47;
}
.rule-diagonal{
    background: repeating-linear-gradient(45deg,
        #e44f47, 
        #e44f47 7px,
        transparent 7px,
        transparent 14px,
        #fff 14px,
        #fff 21px,
        transparent 21px,
        transparent 28px
    );
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}